<div ng-controller="editKnjigeCtrl">
<br/>
<br/>

<div class="page-header">
		<h3>Izmena knjige</h3>
</div>

	 <form class="form-horizontal">
  <div class="form-group">
   <div class="form-group">
     <label for="naziv">Naziv</label>
     <input class="form-control" ng-model="oldKnjiga.naziv" id="naziv" type="text"/>
   </div>
   <div class="form-group">
     <label for="pisac">Pisac</label>
     <input class="form-control" ng-model="oldKnjiga.pisac" id="pisac" type="text"/>
   </div>
   <div class="form-group">
     <label for="isbn">ISBN</label>
     <input class="form-control" ng-model="oldKnjiga.ISBN" id="isbn" type="text"/>
   </div>
   <div class="form-group">
     <label for="kolicina">Količina na stanju</label>
     <input class="form-control" ng-model="oldKnjiga.kolicina" id="kolicina" type="text"/>
   </div>
   <div class="form-group">
     <label for="cena">Cena</label>
     <input class="form-control" ng-model="oldKnjiga.cena" id="cena" type="text"/>
   </div>
  
  
	<div class="form-group">
			<button class="btn btn-primary" ng-click="editKnjiga()">Izmeni</button>
	</div>	
 
 </form>
</div>