<div ng-controller="editZadatkaCtrl">
<br/>
<br/>

<div class="page-header">
		<h3>Izmena zadatka</h3>
</div>

	 <form class="form-horizontal">
  <div class="form-group">
 <div class="form-group">
     <label for="naziv">Naziv</label>
     <input class="form-control" ng-model="oldZadatak.naziv" id="naziv" type="text"/>
   </div>
   <div class="form-group">
     <label for="opis">Opis</label>
     <input class="form-control" ng-model="oldZadatak.opis" id="opis" type="text"/>
   </div>
   <div class="form-group">
     <label for="prioritet">Prioritet</label>
     <input class="form-control" ng-model="oldZadatak.prioritet" id="prioritet" type="text"/>
   </div>
   <div class="form-group">
     <label for="rok">Rok zavrsetka</label>
     <input class="form-control" ng-model="oldZadatak.rok" id="rok" type="text"/>
   </div>
  
  
	<div class="form-group">
			<button class="btn btn-primary" ng-click="editZadatak()">Izmeni</button>
	</div>	
 
 </form>
</div>