<div ng-controller="knjigeCtrl">
   <br/>
	<br/>
	
	<div class="page-header">
		<h3>Knjige</h3>
	 </div>
	
 <div ng-show="vidljivost">

		<div class="form-group pull-right">
			<button class="btn btn-primary" ng-click="vidljivost = !vidljivost">Filtriranje</button>
			</div>
 <form class="form-horizontal">
   <div class="form-group">
     <label for="naziv">Naziv</label>
     <input class="form-control" ng-model="newKnjiga.naziv" id="naziv" type="text"/>
   </div>
   <div class="form-group">
     <label for="pisac">Pisac</label>
     <input class="form-control" ng-model="newKnjiga.pisac" id="pisac" type="text"/>
   </div>
   <div class="form-group">
     <label for="isbn">ISBN</label>
     <input class="form-control" ng-model="newKnjiga.ISBN" id="isbn" type="text"/>
   </div>
   <div class="form-group">
     <label for="kolicina">Količina na stanju</label>
     <input class="form-control" ng-model="newKnjiga.kolicina" id="kolicina" type="text"/>
   </div>
   <div class="form-group">
     <label for="cena">Cena</label>
     <input class="form-control" ng-model="newKnjiga.cena" id="cena" type="text"/>
   </div>
  
   <div class="form-group">
			<label for="izdavac">Izdavač</label>
			<select class="form-control" ng-model="newKnjiga.izdavacId" id="izdavac">
				<option ng-repeat="i in izdavaci" value="{{i.id}}">
					{{i.naziv}}
				</option>
			</select>
	</div>

	<div class="form-group">
			<button class="btn btn-primary" ng-click="addKnjiga()">Potvrdi</button>
	</div>	
 
 </form>
 	
 </div>
 <br/>
    <div ng-hide="vidljivost">
    <div class="form-group">
   
			<button class="btn btn-primary  pull-right" ng-click="vidljivost = !vidljivost">Predji u dodavanje/izmenu</button>
			</div>
 	<h3>Pretraga</h3>
	<form class="form-horizontal">
		<div class="form-group">
			<label for="naziv">Naziv</label>
			<input class="form-control" ng-model="searchedKnjiga.naziv" id="naziv" type="text"/>
		</div>
		<div class="form-group">
			<label for="pisac">Pisac</label>
			<input class="form-control" ng-model="searchedKnjiga.pisac"  id="pisac" type="text"/>
		</div>
		<div class="form-group">
			<label for="maxK">Maksimalna količina</label>
			<input class="form-control" ng-model="searchedKnjiga.maxK"  id="maxK" type="text"/>
		</div>
		
		<div class="form-group">
			<button class="btn btn-primary" ng-click="search()">Pretrazi</button>
		</div>
	</form>
	
	</div>
	
	<br/>
	<div class="btn-group pull-right">
		<button class="btn btn-primary" ng-click="go(-1)" ng-disabled="pageNum == 0">Previous</button>
		<button class="btn btn-primary" ng-click="go(1)" ng-disabled="pageNum == totalPages - 1">Next</button>
	</div>
	<br/>
	
		<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Naziv</th>
				<th>Pisac</th>
				<th>Cena</th>
				<th>Kolicina</th>
				<th>Naziv izdavaca</th>
				
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="k in knjige">
				<td>{{k.naziv}}</td>
				<td>{{k.pisac}}</td>
				<td>{{k.cena}} din.</td>
				<td>{{k.kolicina}}</td>
				<td>{{k.izdavacNaziv}}</td>
				
				<td><button class="btn btn-danger" ng-click="deleteKnjiga(k.id)">Obrisi</button>
				<button class="btn btn-warning" ng-click="editKnjige(k.id)">Izmeni</button>
				<button class="btn btn-primary" ng-disable="k.kolicina <=0" ng-click="kupi(k.id)">Kupi</button>
			</tr>
		</tbody>
	</table>
	
	
</div>