<div ng-controller="zadaciCtrl">
   <br/>
	<br/>
	
	<div class="page-header">
		<h3>Zadaci</h3>
	 </div>
	
 <div ng-show="vidljivost">

		<div class="form-group">
		
			<button class="btn btn-primary  pull-right" ng-click="vidljivost = !vidljivost">Filtriranje</button>
			</div>
 <form class="form-horizontal">
   <div class="form-group">
     <label for="naziv">Naziv</label>
     <input class="form-control" ng-model="newZadatak.naziv" id="naziv" type="text"/>
   </div>
   <div class="form-group">
     <label for="opis">Opis</label>
     <input class="form-control" ng-model="newZadatak.opis" id="opis" type="text"/>
   </div>
   <div class="form-group">
     <label for="prioritet">Prioritet</label>
     <input class="form-control" ng-model="newZadatak.prioritet" id="prioritet" type="text"/>
   </div>
   <div class="form-group">
     <label for="rok">Rok zavrsetka</label>
     <input class="form-control" ng-model="newZadatak.rok" id="rok" type="text"/>
   </div>
  
  
    <div class="form-group">
			<label for="zaposleni">Zaposleni</label>
			<select class="form-control" ng-model="newZadatak.zaposleniId" id="zaposleni">
				<option ng-repeat="z in zaposleni" value="{{z.id}}">
					{{z.ime}} {{z.prezime}}
				</option>
			</select>
	</div>
	<div class="form-group">
			<label for="tip">Tip zadatka</label>
			<select class="form-control" ng-model="newZadatak.tipId" id="tip">
				<option ng-repeat="t in tipovi" value="{{t.id}}">
					{{t.naziv}}
				</option>
			</select>
	</div>

	<div class="form-group">
			<button class="btn btn-primary" ng-click="addZadatak()">Potvrdi</button>
	</div>	
 
 </form>
 	
 </div>
 <br/>
    <div ng-hide="vidljivost">
    <div class="form-group">
            <td><button class="btn btn-primary" ng-click="najprioritetniji()">Najprioritetniji</button>
			<button class="btn btn-primary  pull-right" ng-click="vidljivost = !vidljivost">Predji u dodavanje/izmenu</button>
			</div>
 	<h3>Pretraga</h3>
	<form class="form-horizontal">
		<div class="form-group">
			<label for="naziv">Naziv</label>
			<input class="form-control" ng-model="searchedZadatak.naziv" id="naziv" type="text"/>
		</div>
		<div class="form-group">
			<label for="minP">Minimalni prioritet</label>
			<input class="form-control" ng-model="searchedZadatak.minP"  id="minP" type="text"/>
		</div>
		<div class="form-group">
			<label for="maxP">Maksimalni prioritet</label>
			<input class="form-control" ng-model="searchedZadatak.maxP"  id="maxP" type="text"/>
		</div>
		   <div class="form-group">
			<label for="zaposleni">Zaposleni</label>
			<select class="form-control" ng-model="searchedZadatak.zaposleniId" id="zaposleni">
				<option ng-repeat="z in zaposleni" value="{{z.id}}">
					{{z.ime}} {{z.prezime}}
				</option>
			</select>
	</div>
		
		<div class="form-group">
			<button class="btn btn-primary" ng-click="search()">Pretrazi</button>
		</div>
	</form>
	
	</div>
	
	<br/>
	<div class="btn-group pull-right">
		<button class="btn btn-primary" ng-click="go(-1)" ng-disabled="pageNum == 0">Previous</button>
		<button class="btn btn-primary" ng-click="go(1)" ng-disabled="pageNum == totalPages - 1">Next</button>
	</div>
	<br/>
	
		<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Naziv</th>
				<th>Opis</th>
				<th>Prioritet</th>
				<th>Rok</th>
				<th>Zaposleni</th>
				<th>Tip</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="z in zadaci">
				<td>{{z.naziv}}</td>
				<td>{{z.opis}}</td>
				<td>{{z.prioritet}}</td>
				<td>{{z.rok}}</td>
				<td>{{z.zaposleniIme}} {{z.zaposleniPrezime}}</td>
				<td>{{z.tipNaziv}}</td>
				<td><button class="btn btn-danger" ng-click="deleteZadatak(z.id)">Obrisi</button>
				<button class="btn btn-warning" ng-click="editZadatka(z.id)">Izmeni</button>
				<button class="btn btn-warning" ng-click="editNaStranici(z)">Izmeni na istoj stranici</button>
			</tr>
		</tbody>
	</table>
	
	
</div>